<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('user/index')}" data-title="普通用户列表" href="javascript:void(0)">普通用户列表</a></li>
                    <li><a data-href="{:url('group/index')}" data-title="业务员列表" href="javascript:void(0)">业务员列表</a></li>
                    <li><a data-href="{:url('supplier/index')}" data-title="供应商列表" href="javascript:void(0)">供应商列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-finance">
            <dt><i class="Hui-iconfont">&#xe616;</i> 财务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('finance/index')}" data-title="业务员提现列表" href="javascript:void(0)">业务员提现列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-order">
            <dt><i class="Hui-iconfont">&#xe616;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('order/index')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
                    <li><a data-href="{:url('order/today')}" data-title="今日订单列表" href="javascript:void(0)">今日订单列表</a></li>
                    <li><a data-href="{:url('order/todaycount')}" data-title="今日销售统计" href="javascript:void(0)">今日销售统计</a></li>
                    <li><a data-href="{:url('order/yesterday')}" data-title="昨日订单列表" href="javascript:void(0)">昨日订单列表</a></li>
                    <li><a data-href="{:url('order/yesterdaycount')}" data-title="昨日销售统计" href="javascript:void(0)">昨日销售统计</a></li>
                    <li><a data-href="{:url('order/history')}" data-title="历史订单列表" href="javascript:void(0)">历史订单列表</a></li>
                    <li><a data-href="{:url('order/historycount')}" data-title="历史销售统计" href="javascript:void(0)">历史销售统计</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-trade">
            <dt><i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('trade/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('goods/index')}" data-title="商品管理" href="javascript:void(0)">商品管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-coupon">
            <dt><i class="Hui-iconfont">&#xe620;</i> 优惠券管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('coupon/index')}" data-title="优惠券列表" href="javascript:void(0)">优惠券列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-feedback">
            <dt><i class="Hui-iconfont">&#xe616;</i> 反馈管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('feedback/index')}" data-title="反馈管理" href="javascript:void(0)">反馈管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('system/index')}" data-title="小程序设置" data-target="wzsz" href="javascript:void(0)">小程序设置</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>