{include file='public/meta' /}
	<title>商品管理</title>
	<link rel="stylesheet" href="__STATIC__/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body class="pos-r">
<div>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<div class="text-c">
			<form action="{:url('')}" method="get">
			<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
			日期范围：
			<input type="text" name="start_time" value="{$start_time|default=''}" {literal} onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" {/literal} id="logmin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" name="end_time" value="{$end_time|default=''}" {literal} onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" {/literal} id="logmax" class="input-text Wdate" style="width:120px;">
			<input type="text" name="keyword" value="{$keyword|default=''}" placeholder="商品名称" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
			</form>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="60">缩略图</th>
					<th>产品名称</th>
					<th width="100">所属分类</th>
					<th width="80">原价</th>
					<th width="80">优惠价</th>
					<!--<th width="60">是否推荐</th>-->
					<th width="60">初始销售量</th>
					<th width="60">实际销售量</th>
					<th width="60">库存</th>
					<th width="60">发布状态</th>
					<th width="100">操作</th>
				</tr>
				</thead>
				<tbody>
				{foreach $list as $v}
				<tr class="text-c va-m">
					<td>{$v.id}</td>
					<!--<td><a onClick="product_show('{$v.title}','{:url("look")}','{$v.id}')" href="javascript:;"><img width="60" class="product-thumb" src="{if condition="empty($v.picture)"}__STATIC__/admin/images/empty.png{else /}/uploads/{$v.picture}{/if}"></a></td>
					<td class="text-l"><a style="text-decoration:none" onClick="product_show('{$v.title}','{:url("look")}','{$v.id}')" href="javascript:;">{$v.title}</a></td>-->
					<td><a  href="javascript:;"><img width="60" class="product-thumb" src="{if condition="empty($v.thumb)"}__STATIC__/admin/images/empty.png{else /}{$v.thumb}{/if}"></a></td>
					<td class="text-l"><a style="text-decoration:none" href="javascript:;">{$v.title}</a></td>
					<td><!--/uploads/-->{$v.trade.tradeName}</td>
					<td>{$v.yuanPrice} 元</td>
					<td><span class="price">{$v.youPrice}</span> 元</td>
					<!--<td>{$v.isTop}</td>-->
					<td>{$v.initsales}</td>
					<td>{$v.sales}</td>
					<td>{$v.stock}</td>
					<td class="td-status">
						{if condition="$v.status eq 1"}
						<span class="label label-success radius">已发布</span>
						{else /}
						<span class="label label-defaunt radius">已下架</span>
						{/if}

					</td>
					<td class="td-manage">
						{if condition="$v.status eq 1"}
						<a style="text-decoration:none" onClick="goods_stop(this,'{$v.id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
						{else /}
						<a style="text-decoration:none" onClick="goods_start(this,'{$v.id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
						{/if}
						<a style="text-decoration:none" class="ml-5" onClick="goods_edit('商品编辑','{:url("edit","id=".$v.id)}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="goods_del(this,'{$v.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/foreach}
				</tbody>
			</table>
			<div style="float:right;">{$list->render()}</div>
		</div>
	</div>
</div>

{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    /*商品-添加*/
    // function goods_add(title,url){
    //     var index = layer.open({
    //         type: 2,
    //         title: title,
    //         content: url
    //     });
    //     layer.full(index);
    // }
    /*产品-查看*/
    // function product_show(title,url,id){
    //     var index = layer.open({
    //         type: 2,
    //         title: title,
    //         content: url
    //     });
    //     layer.full(index);
    // }
    /*商品-下架*/
    function goods_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $.post("{:url('setStatus')}",{id:id},function(){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_start(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
				$(obj).remove();
				layer.msg('已下架!',{icon: 5,time:1000});
            });
        });
    }

    /*商品-发布*/
    function goods_start(obj,id){
        layer.confirm('确认要发布吗？',function(index){
            $.post("{:url('setStatus')}",{id:id},function(){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_stop(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
				$(obj).remove();
				layer.msg('已发布!',{icon: 6,time:1000});
            });
        });
    }

    /*产品-编辑*/
    function goods_edit(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*产品-删除*/
    function goods_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('delete')}",{id:id},function () {
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        });
    }
</script>
</body>
</html>